:root {
  --color-de-fondo: #030637;
  --color-text-color: #d30f96;
  --color-section-bg: #3c0753;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
}

body {
  box-sizing: border-box;
  background-color: var(--color-de-fondo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--color-text-color);
}

ol,
ul,
li {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-text-color);
}

.experience__img {
  width: 100%;
}

.tudo {
  max-width: 40rem;
  margin: 0px auto;
}

section.menu {
  display: flex;
  margin: 2rem 0px;

  .menu__header {
    display: flex;
    & img {
      padding: 1rem;
    }
  }

  nav .menu__list {
    display: flex;
    gap: 28px;
  }
  nav .menu__list li:last-child {
    font-weight: bold;
  }
}

/*Sección Title*/

section.title {
  & .title__div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .title__profile {
    max-width: 15rem;
    margin: auto;
  }
  & .title__container {
    margin: auto 0px;
  }
  & .title__network {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    gap: 2rem;
  }

  .title__network__item a {
    display: flex;
    gap: 8px;

    & img {
      padding: 4px;
    }
  }
}

/*Sección About*/

section.about {
  background-color: var(--color-section-bg);
  padding: 1rem;
}

/*Seccion Skills*/
section.skills {
  & .skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
  }
}

/*Sección Hobbies*/

section.hobbies {
  & .hobbies__line {
    display: flex;
    gap: 66px;
    text-align: center;
    align-items: baseline;
  }
}

/* Experiencia Académica*/

section.academic {
  margin-top: 12px;
  background-color: var(--color-section-bg);
  padding: 8px;
  & .academic__courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  & .academic__courses__box {
    padding: 2rem;
  }
}

/* experiencia*/

section.experience {
  & img {
    margin-top: 12px;
  }
  & .experience__info {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  & .experience__repo button,
  .experience__demo button {
    padding: 12px;
    background-color: var(--color-section-bg);
    color: var(--color-text-color);
    border: none;
  }

  & .experience__repo button:hover,
  .experience__demo button:hover {
    cursor: pointer;
    padding: 12px 20px;
    background-color: #e110a0;
    color: var(--color-de-fondo);
    font-weight: bold;
    transition-duration: 0.5s;
  }
}

/*Contacto*/

section.formcontato {
  & h2 {
    text-align: center;
  }
  & .formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* styling of animated border */
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    visibility: hidden; /* Ocultar el borde por defecto */
  }

  .input:focus + .input-border {
    visibility: visible; /* Mostrar el borde cuando el input tiene foco */
    width: 100%;
  }

  .input {
    color: var(--color-text-color);
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: 1px solid var(--border-before-color);
  }

  /* Hover on Input */
  .input:hover {
    background: var(--input-hovered-color);
  }

  & textarea {
    padding: 8px;
    background-color: transparent;
    color: var(--color-text-color);
  }

  & button {
    max-width: 30%;
    margin: 0px auto;
    padding: 12px;
    background-color: var(--color-section-bg);
    color: var(--color-text-color);
    border: none;
  }

  & button:hover {
    cursor: pointer;
    padding: 12px 20px;
    background-color: #e110a0;
    color: var(--color-de-fondo);
    font-weight: bold;
    transition-duration: 0.5s;
  }
}

/*footeer*/

section.footer {
  margin-top: 10px;
  padding: 2px 0px;
  text-align: center;
  background-color: var(--color-section-bg);

  .footer__rodape {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
