:root {
    --color-de-fondo: #F3F6F7;
    --color-de-fondo-cabezera: #354649;
    --color-texto-cabezera: #F3F6F7;
    --color-de-link: #1C2021;
    --color--de-fondo-seccion: #D9E3E5;
}

body {
    background-color: var(--color-de-fondo);
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    overflow: auto;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-de-fondo-cabezera);
}

.cabecera__logo {
    max-width: 24px; /* Ajuste para pantallas pequeñas */
}

.cabecera__titulo {
    font-size: 1rem;
    text-align: center;
    color: var(--color-texto-cabezera);
}

.navegacion__lista {
    display: flex;
}

/* Ocultar todos los elementos de la lista, excepto Contacto */
.navegacion__elemento a:not(#contact) {
    display: none;
}

#contact {
    font-weight: bold;
}

.navegacion__elemento a {
    font-size: 1rem;
    color: var(--color-texto-cabezera);
}
/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion{
    font-size: 1.143rem;
    padding: 2rem;
}
.presentacion__foto {
    width: 146px;
    height: auto;
    border-radius: 11.5rem;
    box-shadow: 0px 7px 12px 0 rgba(20, 20, 20, 0.3);
}

.presentacion__titulo{
    font-size: 1.375rem;
}

.redes{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0;
    gap: 0.5rem;
}
/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    padding: 2rem;
    background-color: var(--color--de-fondo-seccion);
}

.sobre-mi__titulo{
    font-size: 1.375rem;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
/*
    .skills == .habilidades
    .skill_line == .habilidades__lista
    .skills_box == .habilidades__elemento
    .skill_name == .habilidades__nombre
*/

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.habilidades__titulo{
    font-size: 1.375rem;
    margin: 0;
}
.habilidades__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    gap: 1rem;
}

.habilidades__elemento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: 155px;
    height: 118px;
    background-color: white;
    padding: 1rem;
}

.habilidades__icono{
    width: auto;
    height: 2.31rem;
}

.habilidades__nombre{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.aficiones__titulo{
    font-size: 1.375rem;
    margin: 0;
}
.aficiones__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    gap: 1rem;
}

.aficiones__elemento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: 155px;
    height: 118px;
    background-color: white;
    padding: 1rem;
}

.aficiones__icono{
    width: auto;
    height: 2.31rem;
}

.aficiones__nombre{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

/*------------------------------ Sección de Educacion --------------------------------*/
.formacion{
    background-color: var(--color--de-fondo-seccion);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.formacion__titulo{
    font-size: 1.375rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.formacion__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22.125rem;
    width: 18.5rem;
    padding-left: 0;
    margin: 0;
    gap: 1rem;
}

.formacion__elemento{
    display: flex;
    flex-direction: column;
    height: 10.5625rem;
    width: 18.5rem;
}

.formacion__elemento__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.375rem;
    width: 18.5rem;
    background-color: white;
}

.formacion__elemento div h3{
    font-size: 1.1875rem;
}

.formacion__elemento div p{
    font-size: 1rem;
}

.formacion__elemento div h3, .formacion__elemento div p{
    margin: 0;
}

/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.proyectos__titulo{
    font-size: 1.375rem;
    margin-top: 0;
}

.proyectos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 76.75rem;
    width: 18.5rem;
    padding-left: 0;
    margin: 0;
    gap: 3rem;
}

.proyectos__elemento__imagen{
    height: 9rem;
    width: 18.5rem;
}

.proyectos__icono{
    height: 9rem;
    width: 18.5rem;
}

.proyectos__elemento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18.5rem;
    height: 16.6875rem;
}

.proyectos__nombre{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.proyectos__detalle{
    font-size: 0.875rem;
    margin: 0;
}

.proyectos__botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.875rem;
    font-weight: bold;
    height: 2.5rem;
    gap: 1rem;
}

.proyectos__boton__repo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A7AE4;
    padding: 0.75rem;
    border: 1px solid #2A7AE4;
    border-radius: 0.5rem;
}

.proyectos__boton__extra{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #669FC8;
    color: white;
    padding: 0.75rem;
    border: 1px solid;
    border-radius: 0.5rem;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--color--de-fondo-seccion);
}

.contacto__titulo{
    font-size: 1.375rem;
    margin: 0;
}

.contacto p{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.contacto__campo{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    height: 3.5rem;
    border-radius: 4px;
    border: transparent;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.contacto__campo__t{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    height: 8.31rem;
    border-radius: 4px;
    border: transparent;
    padding: 0.75rem;
}

.contacto__boton{
    background-color: #669FC8;
    color: white;
    font-weight: bold;
    border: transparent;
    border-radius: 4px;
    height: 2.5rem;
    font-size: 1rem;
}
/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    /*Cabecera*/
    .cabecera {
        height: 3.5rem;
        padding: 2rem;
    }

    .cabecera__logo{
        max-width: 32px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;

    }

    .navegacion__elemento a {
        font-size: 1.5rem;
    }

    /*Presentacion*/
    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .presentacion__foto{
        width: 146px;
        height: 146px;
    }

    /*Sobre mi*/

    /*Habilidades*/
    .habilidades__elemento{
        width: 224px;
    }

    .habilidades__lista{
        gap: 2rem;
    }

    .habilidades__icono{
        width: auto;
        height: 2.18rem;
    }

    /*Aficiones*/
    .aficiones__elemento{
        width: 224px;
    }

    .aficiones__lista{
        gap: 2rem;
    }

    .aficiones__icono{
        width: auto;
        height: 2.18rem;
    }

    /*Educacion*/
    .formacion__lista{
        flex-direction: row;
        height: 10.56rem;
        width: 100%;
        gap: 1rem;
    }

    .formacion__elemento{
        height: 10.56rem;
        width: 21.5rem;
    }

    .formacion__elemento__imagen{
        height: 10.56rem;
        width: 21.5rem;
    }

    /*Proyectos*/
    .proyectos__lista{
        height: 119.4375rem;
        width: 100%
    }

    .proyectos__elemento{
        width: 44rem;
        height: 26.6875rem;
    }

    .proyectos__elemento__imagen{
        height: 20rem;
        width: 44rem;
    }

    .proyectos__icono{
        height: 20rem;
        width: 44rem;
    }
    
}


/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    
    /*Cabecera*/
    .cabecera{
        height: 5.5rem;
        font-size: 1rem;
        padding: 1rem;
    }
    /*NaVegacion: se necesita ahora si mostrar la lista, incluyendo contacto*/
    .navegacion{
        display: flex;
        justify-content: flex-end;
        width: 42.75rem;
    }

    .navegacion__lista{
        padding: 0;
        gap: 1rem;
    }
    .navegacion__elemento a:not(#contact) {
        display: block;
        font-size: 1rem;
    }

    #contact {
        font-size: 1rem;
    }

    /*Presentacion*/
    .presentacion{
        padding-left: 5rem;
        padding-right: 5rem;
        gap: 1rem;
    }

    .presentacion__foto{
        width: 328px;
        height: 328px;
    }
    
    .presentacion__contenedor{
        padding: 1rem;
    }


    .presentacion__titulo{
        font-size: 3.25rem;
    }

    .presentacion__subtitulo{
        font-size: 1.375rem;
    }

    .redes{
        gap: 2rem;
    }

    /*Sobre mi*/
    .sobre-mi{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .sobre-mi__titulo{
        font-size: 2rem;
    }

    /*Habilidades*/
    .habilidades__titulo{
        font-size: 2rem;
    }

    /*Aficiones*/
    .aficiones__titulo{
        font-size: 2rem;
    }

    /*Educacion*/
    .formacion__titulo{
        font-size: 2rem;
    }

    .formacion__lista{
        height: 21.6875rem;
        width: 100%;
        gap: 3rem;
    }

    .formacion__elemento{
        height: 21.6875rem;
        width: 23rem;
    }

    .formacion__elemento__imagen{
        height: 17.875rem;
        width: 23rem;
    }

    .formacion__icono{
        width: 18rem;
        height: auto;
    }

    /*Proyectos*/
    .proyectos__titulo{
        font-size: 2rem;
    }
}

@media (min-width: 1440px){
    /*Habilidades*/
    .habilidades__lista{
        gap: 3rem;
    }

    .habilidades__elemento{
        width: 300px;
    }

    /*Aficiones*/
    .aficiones__lista{
        gap: 3rem;
    }

    .aficiones__elemento{
        width: 300px;
    }

    /*Educacion*/
    .formacion__lista{
        gap: 7rem;
    }

    .formacion__elemento{
        width: 490px;
    }

    .formacion__elemento__imagen{
        width: 490px;
    }

    .formacion__icono{
        width: 490px;
    }


    /*Proyectos*/
    .proyectos__lista{
        height: auto;
        gap: 3rem;
    }
}
